
# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# memories
*.db

# generated
generated/*
!generated/.gitkeep

# test
test*.py

# Playwright
.playwright/
playwright/
playwright/.cache/
browser_data/
infrastructure/browser/user_data/
